<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Online Advocate Management - Law Firm Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Law Firm Website Template" name="keywords">
        <meta content="Law Firm Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'myapp/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'myapp/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'myapp/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'myapp/css/style.css'%}" rel="stylesheet">
        <style>
            .top-bar .logo h4 {
                    margin: 0;
                    color: #aa9166;
                    font-size: 19px;
                    line-height: 55px;
                    font-weight: 800;
                }
                  .team .team-text {
            width: 300px;
            position: relative;
            padding: 50px 15px 30px 15px;
            text-align: center;
            background: #121518;
        }
        .team {
    position: relative;
    padding: 45px 0;
}
  .team .team-img {
                    position: relative;
                    width: 300px;
                }
                .team-item {
    position: relative;
    }

    .team-img-container {
        position: relative;
        width:300px;
        overflow: hidden;
    }


    .team-expertise {
        position: absolute;
        bottom: 24px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .team-img-container:hover .team-img {
        transform: scale(1.1);
    }

    .team-img-container:hover .team-expertise {
        opacity: 1;
    }
        </style>

    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/#">
                                    <h4>Online Advocate Management</h4>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="top-bar-right">
                                <div class="text">
                                    <h2>9:00 - 18:00</h2>
                                    <p>Opening Hour Mon - Fri</p>
                                </div>
                                <div class="text">
                                    <h2>+123 456 7890</h2>
                                    <p>Call Us For Free Consultation</p>
                                </div>
                                <div class="social">
                                   <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.instagram.com/trivedi9908/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/#" class="nav-item nav-link active">Home</a>
                                <a href="/about" class="nav-item nav-link">About</a>
                                <a href="/service" class="nav-item nav-link">Practice</a>
                                <a href="/team" class="nav-item nav-link">Attorneys</a>
                                <a href="/portfolio" class="nav-item nav-link">Case Studies</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu">
                                        <a href="/blog_1" class="dropdown-item">Blog Page</a>

                                    </div>
                                </div>
                                <a href="/contact" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" href="https://htmlcodex.com/law-firm-website-template">Get Appointment</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->

            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Criminal Law</h2>
                        </div>
                        <div class="col-12">
                            <a href="/#">Home</a>
                            <a href="/criminal">Criminal Law</a>
                        </div>
                    </div>
                </div>
            </div>

             <div class="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static 'myapp/img/about.jpg'%}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header">
                                <h2>About Criminal Law</h2>
                            </div>
                            <div class="about-text">
                                <p>
                          Criminal law is a fundamental branch of the legal system that deals with offenses against the state or public, addressing the prosecution and punishment of individuals who violate established laws. It encompasses a diverse range of criminal activities, from minor misdemeanors to serious felonies, each carrying distinct legal consequences. Criminal lawyers, also known as defense attorneys or prosecutors, specialize in representing individuals accused of crimes or advocating for the state in criminal proceedings.
                                </p>
                                <p>
                                  In the realm of criminal law, legal professionals play key roles in ensuring a fair and just legal process. Defense attorneys work diligently to protect the rights of the accused, providing legal counsel, mounting defenses, and negotiating plea bargains when necessary. Prosecutors, on the other hand, represent the state in building cases against individuals accused of criminal activities, aiming to secure convictions and administer appropriate penalties. The principles of criminal law are designed to balance the need for public safety with the protection of individual rights, and its application involves a meticulous legal process to ascertain guilt or innocence.
                                </p>
                                <a class="btn" href="/civil">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Start -->
             <div class="team">
              <div class="testimonial">
                <div class="container">
                    <div class="section-header">
                        <h2>Meet Our Criminal Law Attorneys</h2>
                    </div>
                    <div class="owl-carousel testimonials-carousel">
                    {% for i in data %}
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img-container">
                                <img class="team-img" src="{{ i.limg.url }}" alt="Team Image" height="250px">
                                <div class="team-expertise">Experience: {{ i.lexperience }} years</div>
                            </div>
                            <div class="team-text">

                                <p>{{ i.lprofession }}</p>
                                <div class="team-social">
                                    <h4 class="social-tw">{{ i.lname }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                    </div>
                </div>
                </div>

            <!-- Team End -->




            <!-- Testimonial Start -->
             <div class="testimonial">
                <div class="container">
                    <div class="section-header">
                        <h2>Review From Client</h2>
                    </div>
                   <div class="owl-carousel testimonials-carousel">
                         {% for i in data1 %}
                        <div class="testimonial-item">
                            <i class="fa fa-quote-right"></i>

                            <div class="row align-items-center">

                               <div class="col-3">
                                    <img src="{{i.cimg.url}}" alt="" height="74px">
                                </div>
                                <div class="col-9">
                                    <h2>{{i.cname}}</h2>
                                    <p>{{i.cprofession}}</p>
                                </div>
                                <div class="col-12">
                                    <p>
                                        {{i.cdesc}}
                                    </p>
                                </div>

                        </div>
                    </div>
                        {%endfor%}
                </div>
                    </div>
                </div>
            <!-- Testimonial End -->




             <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Subscribe Our Newsletter</h2>
                    </div>
                    <div class="form">
                        <form method="post" action="/News">
                            {%csrf_token%}
                        <input class="form-control" placeholder="Email here" name="email">
                        <button class="btn" type="submit">Submit</button>
                             </form>
                    </div>
                </div>
            </div>
            <!-- Newsletter End -->


            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2>About Us</h2>
                                <p>
                                Welcome to our platform! We are dedicated to revolutionizing your legal experience. Our user-friendly interface facilitates seamless online communication with lawyers, allowing for easy payments, appointment scheduling, and secure interactions. Embrace efficiency, security, and convenience as we redefine the way you engage with legal services.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Services Areas</h2>
                                <a href="/civil">Civil Law</a>
                                <a href="/family">Family Law</a>
                                <a href="/business">Business Law</a>
                                <a href="/education">Education Law</a>
                                 <a href="/cyber">Cyber Law</a>
                                <a href="/criminal">Criminal Law</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="/about">About Us</a>
                                <a href="/service">Practices</a>
                                <a href="/team">Attorneys</a>
                                <a href="/portfolio">Case Studies</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>Get In Touch</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>advocatefirm@gmail.com</p>
                                <div class="footer-social">
                                   <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/watch?v=8J35cu7mUrw"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.instagram.com/trivedi9908/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://htmlcodex.com/law-firm-website-template">Online Advocate Management</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">Kushal Trivedi</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'myapp/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'myapp/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'myapp/lib/isotope/isotope.pkgd.min.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'myapp/js/main.js'%}"></script>
    </body>
</html>
